<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>

<body>
    <span th:text="${hello}"></span>
    <form th:action="@{/logout}" method="post">
        <button>ログアウト</button>
    </form>
    <hr>
    <h3>TODO</h3>
    <a th:href="@{/todo/}">編集</a>
    <table class="todo-list">
        <tr>
            <th>件名</th>
        </tr>
        <tr th:each="todo : ${todoList}">
            <td th:text="${todo.todoTitle}">title1</td>
        </tr>
    </table>

</body>

</html>